*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 116px;
    width: 100%;
    background-color: #0f0e0c;
    display: flex;
    justify-content: center;
}

.header img{
    height: 110px;
    width: 100%;
    margin: auto;
}

.header img:hover{
    scale: 0.80;
    transition: .5s;
}

.linha {
    width: 100%;
    background-color: #f3752b;
    position:relative;
    height: 2px;
    border: none;
    margin: 0;
    padding: 0;
}

.menu{
    position: relative;
    background-color: #0f0e0c;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 11px;
}

.menu .linha{
    width: 100%;
    background-color: #f3752b;
    position:relative;
    height: 2px;
    border: none;
    margin: 0;
    padding: 0;
}

.buttons_nav{
    background-color: #1E1E1E;
    width: 305px;
    height: 45px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    margin-inline: 35px;
    text-align: center;
    border-radius: 30px;
    border-style: none;
}

.buttons_nav button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #EBEBEB;
    
    width: 305px;  
    height: 57px;
    background-color: #1e1e1e;
    border-radius: 30px ;
    border: 2px solid #f3752b;

}
.buttons_nav button:hover{
    background-color: #f3752b;
}

.content2{
    position: relative;
    display: flex;
    justify-content: center; 
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 345px;
}

.img_i{
    width: 375px;
    max-width: 375px;
    min-width: 345px;
    margin-inline: 40px;
    margin-top: 50px;
}

.img_i img{
    width: 100%;
    max-width: 375px;
    min-width: 345px;
    height: 201px;
}

.titulo_imagem{
    position: relative;
    text-align: center;
    bottom: 60px;
    color: #EBEBEB;
}

.tag_games{
    background-color: #f3742ba9; 
    padding: 3px; 
    font-family: 'Inter';
    width: 81px;
    height: 26px;
    position: relative; 
    bottom: 140px;
}

.footer{
    position:relative;
    display: flex;
    width: 100%;
    height: 148px;
    background-color: #0f0e0c;
    justify-content: flex-end;
}

.footer p{
    margin-top: 58px;
    margin-right: 20px;
    color: #EBEBEB;
    font-style: italic;
    font-family: 'Arimo';
    font-size: 20px;
}

.contatos a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 35px;
    height: 35px;
    margin-top: 58px;
    margin-inline-end: 8px;
}

.contatos img:hover{
    scale: 1.2;
    transition: .5s;
}

/* Início páginas*/

h3 , h4 , h5{
    font-family: 'Arimo';
    color: #EBEBEB;
}

.p_espaco{
    text-indent: 45px;
    color: #EBEBEB;
}

p{
    color: #EBEBEB;
}

.content_tripleA{
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
    width: 100%;
}

.img_tripleA{
    width: 60%;
    margin: auto;
    min-width: 250px;
}

.img_tripleA img{
    width: 100%;
    max-width: 1080px;
}

.content_tvi{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.texto_tripleA{
    width: 28%;
    min-width: 345px;
    position: relative;
    text-align: justify;
    margin-inline: 60px;
    color:#EBEBEB;
    border: solid #0f0e0c;
    padding: 20px;
    border-radius: 20px;
}

.wiki_elden{
    display: flex;
    width: 100%;
    justify-content: center;
}

.wiki_elden img{
    border: solid 2px; color: #f3752b;
    border-radius: 20px;
}

.wiki_elden img:hover{
    scale: 1.1;
    transition: .5s;
}

.video_tripleA{
    position: relative;
    width: 440px;
    min-height: 345px;
    height: 860px;
    margin-inline: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info_tripleA{
    position: relative;
    width: 440px;
    height: 580px;
    margin-top: 40px;
    border: solid 2px; color: #0f0e0c;
    border-radius: 20px;
}

.info_tripleA p{
    text-align: left;
    padding: 40px;
    color: #EBEBEB;
    line-height: 40px;
    font-size: 18px;
}

@media (max-width:1025px){
    .content_tripleA{
        width: 345px;
    }
}

@media (max-width: 475px){
    .video_tripleA{
        width: 345px;
    }
    .info_tripleA p{
        font-size: 14px;
    }
}

@media (max-width: 375px){
    .video_tripleA{
        width: 345px;
    }
    .info_tripleA p{
        font-size: 14px;
    }
}

@media (max-width: 360px){
    .video_tripleA{
        width: 345px;
    }
    .info_tripleA p{
        font-size: 14px;
    }
}

